<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'SnapFood' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'SnapFood' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>9b73891f-f61d-4860-91a7-fb46c9379db8</InstrumentationKey>
</ApplicationInsights>